In [ ]:
#touples is also like list
#used to store the data type
#touples are immutable which means u cannot add and deleate  the data once they are deceleared
#data inside touple
#in this data are sttores in parenthisesi instead of bracket
#touples are faster than list
#things that we can perform in the touples are
Count
index
length function
slicing
looping
touple with  one element
touple unpakcing(touple without parenthesis)
list inside touple
and some function

In [1]:
example=('one','two','three')
print(example)

('one', 'two', 'three')

In [3]:

#count
example=('one','two','three')

print(example.count('one'))

1

In [4]:
#indexing
example=('one','two','three')
print(example[2])

three

In [5]:
#slicing 
example=('one','two','three')
print(example[::-1])

('three', 'two', 'one')

In [7]:
#Loop in t uple
mixed=(1,2,3,4.4)
for i in mixed:
    print(i)

1
2
3
4.4

In [9]:
 #tuple with one element
num=(1)
num1=(1,)

print(type(num))
print(type(num1))

<class 'int'>
<class 'tuple'>

In [10]:
#tuple without parenthesis)
metal='gold','alluminium','silver'
print(type(metal))

<class 'tuple'>

In [11]:
#Tuple unpacking
metal='gold','alluminium','silver'
a,b,c=(metal)
print(metal)

('gold', 'alluminium', 'silver')

In [13]:
#list inside tuple
metal=('gold','alluminium','silver',['H','he'])
print(metal)

('gold', 'alluminium', 'silver', ['H', 'he'])

In [15]:
#mutable with list
metal=('gold','alluminium','silver',['H','he'])
metal[3].pop()
print(metal)

('gold', 'alluminium', 'silver', ['H'])

In [16]:
#immutable with tuple
metal=('gold','alluminium','silver')
metal(3).pop()
print(metal)

TypeError: 'tuple' object is not callable

In [17]:
#function with two value
def math(int1,int2):
    add=int1+int2
    mul=int1*int2
    return add,mul
print(math(2,5))
#the output u got is touple

(7, 10)

In [18]:
def math(int1,int2):
    add=int1+int2
    mul=int1*int2
    return add,mul
add,mul=math(2,5)
print(add)
print(mul)

7
10

In [19]:
a=tuple(range(1,11))
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)