In [8]:
# varriable in python
num1=2
print(num1)

2

In [11]:
num1=2
print(num1)
num1=4
print(num1)

2
4

In [12]:
#in verribale you can stire any string,integer,floating point number
#for sting 
name="Nehal"
print(name)

Nehal

In [13]:
 name="Nehal"
print(name)
name=121
print(name)
#this is called dynamic programming
#no need of defing the varriable such as int num

Nehal
121

In [14]:
#rule of varriable 
#cannot stat with number
1number=222
print(1number)

SyntaxError: invalid syntax (<ipython-input-14-b4b0140a7038>, line 3)

In [18]:
#letter,_ can be used 
a=25
print(a)
_b=20
print(a+_b)

25
45

In [19]:
#cannot use special symbol as verriable any where
#at decelearing
$abc=24
print($abc)

SyntaxError: invalid syntax (<ipython-input-19-cafd1b01e7cc>, line 2)

In [20]:
#but you can use the number at the middle and end
n1=2
print(2)

2

In [21]:
#snake case writing
user_one="nehal"
print(user_one)

nehal

In [22]:
#camel case writing
userOne="nehal"
print(userOne)

nehal

In [25]:
#string concenation
first_name="Nehal "
last_name="parmar"
fullname=first_name +  last_name
print(fullname)

Nehal parmar

In [26]:
 first_name="Nehal "
last_name="parmar"
fullname=first_name +  last_name
print(fullname+3)#you will get error because one string can concenate with other string only

TypeError: can only concatenate str (not "int") to str

In [30]:
first_name="Nehal "
last_name="parmar"
fullname=first_name +  last_name
print(fullname+"3")#integer converted into the string
#alternative
print(fullname+str(3))

Nehal parmar3
Nehal parmar3

In [31]:
#user input
name=input("type your name:")

type your name:nehal

In [33]:
name=input("type your name:")
print("hellow "+name)

type your name:nehal
hellow nehal

In [35]:
#things to be  noted
#input always take the input as string only
age=input("type your age:")
print("your age is "+age)

type your age:24
your age is 24

In [36]:
a=input("enter the first number")#Here you take the string as 20
b=input("enter the second number")#Here you take the string as 20
print(a+b)
#here you see the magic

enter the first number20
enter the second number25
2025

In [41]:
a=int(input("enter the first number"))#Here you take the string as 20
b=int(input("enter the second number"))#Here you take the string as 20
sum=a+b
print("total is  :"+str(sum))

enter the first number20
enter the second number25
total is  :45

In [45]:
b=int(10)
a=float(22.00)
c=str(4)
print(a+b)
print(a+c)#sting and float cant be added
print(b+c)#sting and int cant be added

32.0

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [49]:
#for decelearing more than one verriabke at atime
name,age='nehal',20
print("hellow "+name +" and your age is"+str(age))

hellow nehal and your age is20

In [51]:
x=y=z=1
print(x+y+z)

3

In [1]:
name,age=input("enter your name and age::").split()

enter your name and age::nehal 20

In [2]:
name,age=input("enter your name and age::").split(",")

enter your name and age::nehal,20

In [6]:
#string formatting
name='nehal'
age=20
print("hellow "+name+" your age is " +str(age))

hellow nehal your age is 20

In [11]:
name='nehal'
age=20
print("hellow {}and your age is {}".format(name,age))

hellow nehaland your age is 20

In [12]:
name='nehal'
age=20
print(f"hellow {name} and your age is {age}")

hellow nehal and your age is 20

In [13]:
name='nehal'
age=20
print(f"hellow {name} and your age is {age+2}")

hellow nehal and your age is 22

In [25]:
a,b,c=(input("enter three number a,b,c ").split(","))
average=((int(a)+int(b)+int(c))/3)
print(str(average))

enter three number a,b,c 10,20,30
20.0

In [27]:
#sting indexing
#position always starts from zero
name="nehal"
print(name[1])
print(name[-1])

e
l

In [32]:
name="nehal"
print(name[1:5])

ehal

In [42]:
name="nehal"
print(name[:])
print(name[-1:-4])

nehal

In [46]:
name="nehal"
print(name[-5:-3])

ne

In [48]:
name="nehal"
print(name[2:])

hal

In [49]:
name="nehal"
print(name[:2])

ne

In [50]:
#step arguement
name="nehal"
print(name[1:5:2])

ea

In [55]:
name="nehal"
print(name[::-1])

lahen

In [56]:
name=input("enter your name:")
print(name[::-1])

enter your namenehal
lahen

In [58]:
#sting function length len()
name="nehal"
print(len("nehal"))

5

In [60]:
#method lower() 
name="Nehal"
print(name.lower())

nehal

In [61]:
#method upper() 
name="Nehal"
print(name.upper())

NEHAL

In [63]:
#method title() 
name="NeHal"
print(name.title())

Nehal

In [65]:
#method count() 
name="NeHal"
print(name.count("H"))

1

In [68]:
name,char=input("enter your name and char:").split(",")
print(len(name))
print(name.count(char))

enter your name and char:sagarmatha,a
10
4

In [75]:
#strip method is used to remove the space from the string
name="   nehal  "
dots="........"
print(name)
print(name+dots)
print(name.lstrip() +dots)
print(name.rstrip() +dots)
print(name.strip() +dots)
print(name.replace(" ",""))

   nehal
   nehal  ........
nehal  ........
   nehal........
nehal........
nehal

In [87]:
#replace and find
string="This is all apout python is "
print(string.replace(" ",""))
print(string.replace("is","with"))
print(string.replace("is","with",3))
print(string.find("is"))
print(string.find("is",3))

Thisisallapoutpythonis
Thwith with all apout python with
Thwith with all apout python with
2
5

In [90]:
#center method
name="Nehal"
print(name.center(9,"*"))#5 string size+4

**Nehal**

In [92]:
#string is immutabe
neme="name"
string[1]='N'

TypeError: 'str' object does not support item assignment

In [93]:
age=20
age=age+20
print(age)

40

In [94]:
age=20
age+=20
print(age)

40